:root {
    --primaryColor: gray;
    --secondaryColor: #646779;
    --accentColor: #ceaf03;
    --fontColor: #000000;
    --shadowColor: rgb(56, 56, 56);
    --hoverColor: #ceaf03;
}

h1,
h2,
h3 {
    margin: 0;
    border-radius: 6px;
}

body,
label {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
}

html,
body {
    margin: 0;
    background-image: url("../images/iasbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);

}

body {
    font-size: 20px;
}

main {
    display: flex;
}

#bodyContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    background: #000000;
    text-align: center;
    padding: 0;
    width: 1000px;
    justify-content: center;
}

header {
    height: var(--headerHeight);
    border-bottom: 1px solid #111;
}

h1 {
    font-size: 50px;
}

.italic,
.cname h2 {
    margin-top: 10px;
}

#hd-logo-img,
.call-us {
    display: flex;
}

#hd-logo-img {
    height: 130px;
    margin-top: 10px;
}

.call-us h3 {
    margin-top: 5px;
}

#call {
    height: 30px;
    margin-right: 8px;
    margin-top: 4px;
}

.company-name {
    background: #000000;
    color: var(--accentColor);
    font-weight: 400;
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    background: var(--primaryColor);
    display: flex;
    justify-content: space-around;
}

a {
    color: #000000;
    border-radius: 10px;
    font-size: 25px;
    padding: 4px 50px;
    font-weight: 900;
    margin: 10px;
    text-decoration: none;
}

a:hover,
label:hover {
    color: var(--hoverColor);
    text-shadow: 2px 2px 15px lightgray;
    transition-duration: .5s;
}

header {
    background: #646779;
}

.site-container {
    flex-shrink: 1;
}

main {
    margin: 0 auto;
    margin-top: 20px;
    background: #000000;
    text-align: center;
    padding: 0;
    width: 1000px;
}

.radios {
    display: inline-block;
    padding: 40px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    text-align: left;
    background: #646779;
}

.radio {
    margin-bottom: 30px;
}

label {
    color: whitesmoke;
    font-weight: bold;
    font-size: 26px;
}

.services {
    text-align: center;
    margin: 0 auto;
    height: 500px;
    background: gray;
}

#quote-btn {
    display: flex;
    margin: 10px auto;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background: #646779;
}

#quote-btn:hover {
    background: #5261bb;
}

.main-img,
.srvc-img {
    margin: 20px auto;
    width: 700px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.offerings img {
    width: 500px;
}

.offer-pics1,
.offer-pics2 {
    display: flex;
}

.welcome {
    background-color: #646779;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    width: auto;
}

.offer-div {
    background: #646779;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

footer {
    background: #646779;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}