@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --primaryColor: #646779;
    --secondaryColor: lightgray;
    --accentColor: #ceaf03;
    --fontColor: #000000;
    --hoverColor: #ceaf03;
    --backgroundColor: black;
    --secondaryBackgroundColor: #E8D8BF;
    --headerHeight: 180px;
    --bodyWidth: 1000px;
    --footerHeight: 40px;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
}

#bodyContainer {
    border-radius: 6px;
    box-shadow: 1px 1px 20px black;
}

header {
    height: var(--headerHeight);
    border-bottom: 1px solid #111;
    background: var(--primaryColor);
    border-radius: 6px;
    box-shadow: 1px 1px 20px black;
}

main {
    margin: 0 auto;
    max-width: var(--bodyWidth);
    overflow-y: auto;
    height: calc(100vh - var(--headerHeight) - var(--footerHeight) - 31px);
    margin-bottom: 10px;
    margin-top: 20px;
}

section {
    max-width: var(--bodyWidth);
    background-color: var(--secondaryColor);
    margin: auto;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.site-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-shrink: 1;
    max-width: var(--bodyWidth);
    width: 100%;
    text-shadow: 0px 0px 2px white;
    margin: 0 auto;
}

.welcome {
    margin-left: 20px;
    margin-right: 20px;
}

.slider-container {
    text-align: center;
}

h1 {
    font-size: 40px;
    margin: 0;
}

h2 {
    margin: 0;
}

.contact-form input {
    width: 350px;
}

.contact-form h3 {
    text-shadow: none;
    color: #000;
}

header img {
    margin-right: 5px;
}

.cname {
    margin-top: 10px;
    margin-left: 50px;
}

.hd-logo {
    margin-top: 10px;
    margin-right: 50px;
}

.call-us {
    display: flex;
}

.hd-logo img {
    filter: invert(1);
    max-width: 160px;
}

.call-us h3 {
    margin-top: 5px;
}

.company-name {
    background: #000000;
    color: var(--accentColor);
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
}

.nav-btn {
    background: var(--primaryColor);
    display: flex;
    justify-content: space-around;
    text-shadow: 0px 0px 4px white;
    max-height: 70px;
}

.call-us a {
    text-decoration: none;
    color: var(--accentColor);
    display: flex;
}

.call-us img {
    width: 30px;
    height: 30px;
}

.nav-btn a {
    color: #000000;
    border-radius: 10px;
    font-size: 25px;
    padding: 4px 50px;
    font-weight: 900;
    text-decoration: none;
}

.nav-btn a:hover,
label:hover {
    color: var(--hoverColor);
    text-shadow: 2px 2px 15px lightgray;
    transition-duration: .5s;
}

.radios {
    padding: 40px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background: var(--primaryColor);
    text-shadow: none;
    text-transform: uppercase;
}

.radio {
    margin-bottom: 30px;
}

.radios {
    display: flex;
    flex-direction: column;
}

label {
    color: whitesmoke;
    font-weight: bold;
    font-size: 26px;
}

form,
.contact-form {
    color: var(--accentColor);
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 6px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

button {
    
}

footer {
    background: var(--primaryColor);
    height: var(--footerHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px white;
    font-size: larger;
    box-shadow: 1px 1px 20px black;
}

.offerpics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}