body {
  margin: 0;
  background: #111;
  color: white;
  font-family: system-ui;
  text-align: center;
}

header {
  padding: 10px;
  background: #222;
}

canvas {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 4 / 3;
  background: black;
}
