@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

:root {
    --primaryColor: #4c758c;
    --secondaryColor: #b38a73;
    --backgroundColor: rgb(109, 109, 109);
    --secondaryBackgroundColor: #f2f2f2;
    --textColor: #fff;
    --secondaryTextColor: #111;
    --fontFamily: 'Nunito Sans', sans-serif;
    --headerHeight: 90px;
    --footerHeight: 40px;
}

html,
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: var(--fontFamily);
    overflow-y: auto;
}

header {
    display: flex;
    background-color: var(--secondaryColor);
    height: var(--headerHeight);
    color: var(--textColor);
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 35px;
}

.header-container {
    display: flex;
    width: 100%;
    text-align: center;
    background: none;
    border: none;
    color: var(--textColor);
    align-items: center;
    justify-content: space-evenly;
    text-shadow: 1px 1px 3px gray;
}

.header-container input {
    text-shadow: 1px 1px 1px black;
}

nav {
    display: flex;
    box-sizing: border-box;
    background-color: var(--primaryColor);
    box-shadow: 0px 5px 50px 4px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px black;
    justify-content: space-between;
}

.ico {
    display: flex;
    padding-right: 8px;
    align-items: center;
}

.ico a img {
    transition: 0.5s;
    width: 20px;
    height: 20px;
}

.ico_img:hover {
    transform: translateY(5px);
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links li {
    margin: 10px 0;
    list-style-type: none;
}

.nav-links a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
    display: block;
    text-align: center;
}

.nav-links a:hover {
    color: var(--secondaryColor);
    text-decoration: none;
}

body {
    font-family: var(--fontFamily);
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

main {
    display: flex;
    color: var(--secondaryTextColor);
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - var(--headerHeight) - var(--footerHeight) - 38px);
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--secondaryBackgroundColor);
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

footer {
    text-align: center;
    margin: 0 auto;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    height: var(--footerHeight);
    text-shadow: 1px 1px 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: var(--textColor);
}

label {
    padding: 5px;
}

textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 98%;
}

table {
    border-collapse: collapse;
    flex-direction: column;
    margin-top: 1em;
    width: 100%;
}

thead {
    display: flex;
    flex-direction: row;
}

tbody {
    display: flex;
    flex-direction: column;
}

tr {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}

th,
td {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    text-align: left;
    justify-content: center;
}

th {
    width: 100%;
}

td,
td input {
    flex: 1;
    min-width: 0;
    border-width: 1px;
    border-style: inset;
    border-color: rgb(133, 133, 133);
    border-radius: 3px;
    align-items: center;
}

td input {
    border: none;
    text-align: center;
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--primaryColor);
    color: var(--textColor);
    border: 1px solid black;
}

button:hover {
    background: var(--secondaryColor);
    color: var(--textColor);
}

iframe {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    border: none;
    min-height: calc(100vh - var(--headerHeight) - var(--footerHeight) - 78px);
}

form {
    padding: 20px;
}

.no-print {
    color: darkred;
}

.notes {
    margin-top: 20px;
    height: 100px;
}

.logo {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-left: 15px;
    margin-top: 7px;
}

.remaining {
    display: none;
    max-width: 800px;
    margin-top: 10px;
}

.total {
    display: flex;
    flex-wrap: wrap;
}

.total label {
    width: 200px;
}

.entry {
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 5px;
}

.data {
    box-sizing: border-box;
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    display: grid;
    justify-content: center;
}

.entry-container {
    margin: 0 auto;
    border: 1px solid var(--primaryColor);
    padding: 5px;
    border-radius: 5px;
}

.copyright a {
    text-decoration: none;
    color: var(--textColor);
}

.padding {
    padding: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 19px;
    border: none;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider.round {
    border-radius: 30px;
    width: 55px;
}

.slider.round:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    margin-top: 2px;
}

input:checked+.slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}


.dark-mode {
    font-size: 15px;
    margin-right: 15px;
}

.category {
    margin: none;
    padding: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondaryColor);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 2px;
    transition-duration: 2s;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1;
}

.dropdown-content a:hover {
    background: var(--primaryColor);
}

.gas-table {
    overflow-x: auto;
}

.labor-table,
.parts-table {
    display: flex;
}

.dropdownapps {
    position: relative;
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
    color: var(--textColor);
    padding-left: 21px;
    padding-right: 21px;
}

.dropdown-apps {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    max-height: 70vh;
    /* Set a maximum height */
    overflow-y: auto;
}

.dropdown-apps a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-apps a:hover {
    background-color: #ddd;
}

.show {
    display: block;
    overflow-y: auto;
}

.app-features {
    padding: 20px;
}

.clock {
    position: fixed;
    bottom: 7px;
    right: 2px;
    z-index: 2;
    color: var(--textColor);
    padding: 2px 5px;
}


.login-container,
.register-container {
    flex-direction: column;
    justify-content: center;
    max-width: 260px;
    margin: 30px auto;
    padding: 30px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container input,
.register-container input {
    width: 98%;
}

.login-container.active,
.register-container.active {
    display: flex;
}

.login-container h1,
.register-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

@media print {

    #page-break-before {
        page-break-before: auto;
    }

    .header-container .header-container input {
        color: black;
        text-shadow: none;
    }

    body,
    header,
    footer,
    section,
    nav {
        box-shadow: none;
        padding: 0;
        margin: 0;
        background-color: none;
    }

    button,
    nav,
    img,
    footer,
    .dark-container,
    .no-print,
    #no-print,
    .checkbox,
    .filter-switch,
    .actual-price-hide,
    .hide-parent-checkbox {
        display: none;
    }

    input,
    label,
    #customer-address,
    #customer-phone,
    #customer-email,
    #invoice-type {
        border: none;
    }

    header {
        height: auto;
    }

    body {
        filter: none;
    }

    /*    #invoice-type {
        -moz-appearance: none;
        -webkit-appearance: none;
    }*/
}

@media only screen and (max-width: 600px) {
    body {
        padding: 0;
        margin: 0;
    }

    section {
        padding: 0;
    }

    iframe {
        min-height: calc(100vh - var(--headerHeight) - var(--footerHeight) - 38px);
    }
}

#customer-address,
#customer-name,
#customer-phone,
#customer-email {
    width: 98%;
    margin-bottom: 20px;
}

#entries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#invoice-number,
#invoice-date {
    margin-bottom: 20px;
}

#total,
.final-total {
    font-weight: bold;
    align-items: center;
}

#import-file {
    max-width: 200px;
}

#unfinished {
    display: none;
}

#finished {
    color: red;
    font-weight: bold;
    text-shadow: black;
}

#save-data-button {
    width: 97%;
}

#iframeSource {
    max-width: 100px;
}

#no-print {
    color: darkred;
}

#agree-terms {
    width: auto;
}