:root {
  --primaryColor: #333;
  --secondaryColor: #ffffff;
  --backgroundColor: #f4f4f4;
  --secondaryBackgroundColor: #eaeaea;
  --textColor: #000;
  --secondaryTextColor: #555;
  --fontFamily: Arial, sans-serif;
  --headerHeight: 62px;
  --footerHeight: 35px;
  --navHeight: 33px;
}

body {
  font-family: var(--fontFamily);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: var(--headerHeight);
}

footer {
  height: var(--footerHeight);
}

h1, p {
  margin: 10px;
}

header,
footer {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  text-align: center;
}

nav {
  background-color: var(--backgroundColor);
  align-items: center;
  height: var(--navHeight);
}

button {
  margin: 5px;
  height: 23px;
}

#layout {
  display: flex;
  height: calc(100vh - var(--navHeight) - var(--headerHeight) - var(--footerHeight));
}

aside {
  background-color: var(--backgroundColor);
  overflow-y: auto;
  padding: 10px;
}

aside.hidden {
  width: 0;
  overflow: hidden;
}

main {
  flex-grow: 1;
  background: var(--backgroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#app-frame {
  width: 100%;
  height: 100%;
  border: none;
}

#app-sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
}

#app-sidebar li {
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: var(--secondaryColor);
  list-style: none;
}

#app-sidebar ul {
  padding: 0;
  margin: 10px;
}

#app-sidebar li:hover {
  background-color: var(--secondaryBackgroundColor);
}