<header>
    <div class="logo">Luis' <span class="web">Web</span> Space</div>
    <div class="hamburger-box">
        <div class="hamburger" onclick="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="websites.html">Websites</a></li>
            <li><a href="apps.html">Apps</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>