    body,
    table {
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
        background: whitesmoke;
    }

    .year-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
        margin: 20px auto;
    }

    .day-block {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 15px;
        cursor: pointer;
    }

    .buttons {
        justify-content: center;
        margin-bottom: 20px;
    }

    li button {
        margin: 5px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .day-block.today {
        background-color: lightgreen;
        font-weight: bold;
    }

    .day-block.has-data {
        background-color: lightblue;
    }

    .day-block.expenses-higher {
        background-color: lightcoral;
    }

    .modal {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        max-width: 600px;
        border-radius: 5px;
    }

    .detail-entry {
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .detail-entry button {
        margin-left: 5px;
    }

    .detail-entry p {
        margin: 0;
    }

    #detailsModal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0, 0.4);
    }

    #closeModal {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }