@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --primaryColor: #ABC9BD;
  --secondaryColor: #D7A29E;
  --backgroundColor: rgb(230, 230, 230);
  --secondaryBackgroundColor: #E8D8BF;
  --textColor: #111;
  --headerHeight: 100px;
  --footerHeight: 100px;
}

*::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  /* Position it at 50% of the container's width */
  width: 1px;
  /* Set the width of the center line */
  /*  background-color: black; */
  transform: translateX(-50%);
  /* Center the line precisely on the middle */
}

html {
  overflow-y: hidden;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  height: 100%;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}

a {
  text-decoration: none;
  color: var(--textColor);
}

/* Header Styles */
header {
  height: var(--headerHeight);
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #111;
  font-size: 30px;
  border-bottom: 1px solid #111;
  font-size: 40px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
}

header ul li {
  display: inline-block;
  margin-right: 10px;
}

header ul li a {
  text-decoration: none;
  color: #111;
}

/* Main Section Styles */
main {
  height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

table {
  margin: 0 auto;
  width: auto;
  border: #111 solid 1px;
  text-align: center;
}

input {
  width: auto;
  box-sizing: content-box;
  text-align: center;
  border-radius: 4px;
  font-size: large;
}

textarea {
  border-radius: 4px;
  border: 2px solid black;
  font-size: large;
}

th {
  background-color: var(--secondaryBackgroundColor);
  color: var(--secondaryColor);
}

td {
  border-bottom: 1px solid var(--primaryColor);
}

td:last-child {
  text-align: center;
}

section {
  max-width: 800px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

.logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  text-align: center;
  margin: 0 auto;
  background: whitesmoke;
  border-radius: 10px;
  padding: 25px;
}

.create-inputs {
  display: flex;
  margin: 15px;
  justify-content: center;
}

.search {
  margin: 15px;
}

/* Footer Styles */
footer {
  height: var(--footerHeight);
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-top: 1px solid #111;
  text-shadow: 1px 1px 1px white;
  justify-content: center;
}

#footerContainer {
  border-top: #111 solid 1px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 10px;
}

footer ul li a {
  text-decoration: none;
  color: #111;
}

/* Button Container Styles */
.button-container {
  margin-top: 20px;
}

.button-container button {
  padding: 5px 10px;
  background-color: var(--primaryColor);
  color: white;
  cursor: pointer;
  border: 1px solid #111;
  margin: 3px;
}

.window {
  display: inline-block;
  margin: 10px auto;
}

.window iframe {
  width: 100%;
}

section form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 auto;
}

section label {
  margin-top: 14px;
}

iframe {
  width: 99%;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  border: none;
}

button {
  border: 2px black solid;
  font-size: large;
  border-radius: 4px;
}

h1 {
  font-weight: 400;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ico_container {
  display: flex;
  justify-content: end;
  padding-right: 8px;
  height: 30px;
}

.ico a img {
  transition: 0.5s;
  width: 25px;
  height: 25px;
}

.ico_img:hover {
  transform: translateY(5px);
}

.home-img {
  width: 100%;
}

.footer-content,
.social-icons,
.contact-info,
.address {
  display: none;
}

footer {
  border-top: none;
}

.more-dropdown {
  position: relative;
}

.more-dropdown .more-content {
  display: none;
  position: absolute;
  background-color: var(--backgroundColor);
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
  right: 0;
  top: 100%;
  z-index: 1;
}

.more-dropdown:hover .more-content {
  display: block;
}

.themes-dropdown {
  position: relative;
}

.themes-dropdown .theme-content {
  display: none;
  position: absolute;
  background-color: var(--secondaryBackgroundColor);
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 220px;
  right: 0;
  top: 100%;
  z-index: 1;
}

.themes-dropdown:hover .theme-content {
  display: block;
  height: auto;
}

.theme-content ul {
  list-style: none;
  padding: 0;
  flex-direction: column;
  background: var(--secondaryBackgroundColor);
}

.theme-content li {
  margin-bottom: 5px;
}

.theme-content label {
  cursor: pointer;
  margin-left: 5px;
}

@media only screen and (max-width: 730px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: var(--secondaryBackgroundColor);
    margin: 6px 0;
  }

  nav {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: var(--primaryColor);
    transition: 0.3s;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
  }

  nav.active {
    display: block;
    height: auto;
    margin: 0 auto;
    transition: 0.2s;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
    height: auto;

  }

  nav.active ul {
    opacity: 1;
  }

  nav ul li a {
    margin-bottom: 12px;
  }

  nav ul {
    padding: 0px;
  }

  .themes-dropdown .theme-content {
    position: relative;
  }

  .more-dropdown .more-content {
    position: relative;
  }
}