iframe {
    border: none;
}

.hide-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.more-dropdown {
    position: relative;
    height: auto;
}

.more-dropdown .more-content {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.more-dropdown:hover .more-content {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    display: block;
}

.themes-dropdown {
    position: relative;
}

.themes-dropdown .theme-content {
    visibility: hidden;
    opacity: 0;
}

.themes-dropdown:hover .theme-content{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    display: block;
}