@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* show center line */
*::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  /* Position it at 50% of the container's width */
  width: 1px;
  /* Set the width of the center line */
  /*background-color: black;  Set the color of the center line */
  transform: translateX(-50%);
  /* Center the line precisely on the middle */
}


:root {
  --primaryColor: #ff0000;
  --secondaryColor: #1500ff;
  --backgroundColor: #4db000;
  --secondaryBackgroundColor: #f000ff;
  --headerHeight: 100px;
  --footerHeight: 100px;
}

* {
  text-decoration: none;
}

html {
  overflow-y: hidden;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: var(--backgroundColor);
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}

header {
  height: var(--headerHeight);
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #111;
}

header .logo {
  font-size: larger;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul li {
  display: inline-block;
  margin-right: 10px;
}

main {
  height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

input,
textarea {
  box-sizing: content-box;
  text-align: center;
  border-radius: 4px;
}

section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

footer {
  height: var(--footerHeight);
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  padding-left: 15px;
  text-shadow: 1px 1px 1px white;
  justify-content: center;
  border-top: 2px solid #111;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 10px;
}

section form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

section label {
  margin-top: 14px;
}

.more-dropdown {
  position: relative;
}

.more-dropdown .more-content {
  display: none;
  position: absolute;
  background-color: var(--backgroundColor);
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 200px;
}

.more-dropdown:hover .more-content {
  display: flex;
  flex-direction: column;
  height: auto;
}

.themes-dropdown {
  position: relative;
}

.themes-dropdown .theme-content {
  display: none;
  position: absolute;
  background-color: var(--secondaryBackgroundColor);
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 200px;
  right: 0;
  top: 100%;
  z-index: 1;
}

.themes-dropdown:hover .theme-content {
  display: block;
  height: auto;
}

.theme-content ul {
  list-style: none;
  padding: 0;
  flex-direction: column;
  background: var(--secondaryBackgroundColor);
}

.theme-content li {
  margin-bottom: 5px;
}

.theme-content label {
  cursor: pointer;
  margin-left: 5px;
}

button {
  font-size: large;
  border-radius: 4px;
}

@media only screen and (max-width: 800px) {
  header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  header ul li {
    margin-bottom: 10px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: var(--secondaryBackgroundColor);
    margin: 6px 0;
    box-shadow: 1px 1px 1px white;
  }

  nav {
    height: 0;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background: #11101b;
    transition: 0.3s;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
  }

  nav.active {
    display: block;
    height: auto;
    margin: 0 auto;
    transition: 0.2s;
  }

  nav ul {
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
    width: 150px;
    padding-top: 10px;
  }

  nav.active ul {
    opacity: 1;
  }

  nav ul li a {
    margin-bottom: 12px;
  }

  .themes-dropdown .theme-content {
    position: relative;
  }

  .more-dropdown .more-content {
    position: relative;
  }
}

.contact-form {
  display: flex;
}

.reg {
  width: 200px;
}

iframe {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.home-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  width: 90%;
  text-align: center;
}

.ico_container {
  display: flex;
  justify-content: end;
  padding-right: 8px;
  height: 30px;
}

.ico a img {
  transition: 0.5s;
  width: 25px;
  height: 25px;
}

.ico_img:hover {
  transform: translateY(5px);
}

.footer-content,
.social-icons,
.contact-info,
.address {
  display: none;
}