html {}

section {}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-image: url("../img/iasbackground.jpg");
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    margin: 0px;
}

h1,
h2 {
    margin: 0;
}

h1 {
    font-size: 50px;
}

h3 {
    margin: 0;
}

.italic {
    font-style: italic;
    margin-top: 10px
}

.cname h2 {
    margin-bottom: 0px;
}

.ias-logo {
    padding-top: px;
}

#ias-logo-img {
    display: flex;
    height: 130px;
    margin-top: 10px;
}

.call-us {
    display: flex;
}

.call-us h3 {
    margin-top: 5px;
}

#call {
    height: 30px;
    margin-right: 8px;
    margin-top: 4px;
}

.company-name {
    background: #000000;
    color: #97d700;
    font-weight: 400;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

main {}

.nav-btn {
    background: #97d700;
    display: flex;
    justify-content: space-around;
}

.quote-btn {
    background: #000000;
    color: #c164ff;
    text-shadow: 2px 2px 20px whitesmoke;
}

.quote-btn:hover {
    border: 2px solid #c164ff;
}

a {
    color: #000000;
    border-radius: 10px;
    font-size: 20px;
    padding: 4 50px;
    font-weight: 900;
    margin: 10px;
    text-decoration: none;
}

a:hover {
    color: #c164ff;
    text-shadow: 2px 2px 20px whitesmoke;
}

.header-inner {
    margin-bottom: 40px;
}

.container {
    margin: 0 auto;
}

.site-container {
    width: 1000px;
    margin: auto;
}

.radios {
    display: inline-block;
    padding: 40px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    text-align: left;
}

.radio {
    margin-bottom: 10px
}

.services {
    text-align: center;
    margin: 0 auto;
    height: 500px;
    background: gray
}

#quote-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background: #97d700;
}

#quote-btn:hover {
    background: #c772ff;
}

.main-img {
    text-align: center;
    margin-bottom: 20px;
}

.welcome {
    background-color: #97d700;
    margin: auto;
    text-align: center;
    padding: 20px 0;
}

.welcome h1,
h2,
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.offerings {
    color: #000000;
    text-align: center;
    margin-top: 20;
}

.offer-div {
    background: #97d700;
    margin-bottom: 20px;
    padding-bottom: 10px
}

* {
    border-radius: 6px;
}








footer {
    background: #97d700;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div {}