@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primaryColor: #97d700;
    --secondaryColor: lightgray;
    --accentColor: purple;
    --fontColor: #000000;
    --hoverColor: #ceaf03;
    --backgroundColor: #204538;
    --secondaryBackgroundColor: #E8D8BF;
    --headerHeight: 180px;
    --bodyWidth: 1000px;
    --footerHeight: 80px;
}

* {
    border-radius: 6px;
}

header {

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-image: url("../img/IAS background.jpg");
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    margin: 0;
}

main {
    /* Add specific styles for your main content here */
}

footer {
    background: #97d700;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 50px;
}

h3 {
    margin: 0;
}

a {
    color: #000000;
    border-radius: 10px;
    font-size: 20px;
    padding: 4px 50px;
    font-weight: 900;
    margin: 10px;
    text-decoration: none;
}

a:hover {
    color: #c164ff;
    text-shadow: 2px 2px 20px whitesmoke;
}