@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border-radius: 6px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/iasbackground.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    align-items: center;
}

.company-name {
    display: flex;
    align-items: center;
    color: #97d700;
}

.company-name img {
    height: 130px;
    margin-left: 20px;
}

.nav-btn a {
    color: #000;
    text-decoration: none;
    padding: 5px 20px;
    font-weight: 900;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.nav-btn a:hover {
    color: #c164ff;
}

.main-img {
    text-align: center;
    margin-bottom: 20px;
}

.services {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radios {
    display: inline-block;
    padding: 40px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    text-align: left;
}

.radio {
    margin-bottom: 10px;
}

#quote-btn {
    display: block;
    margin: 40px auto 0;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: #97d700;
}

#quote-btn:hover {
    background-color: #c772ff;
}

footer {
    width: 100%;
    margin-top: 20px;
    background-color: #97d700;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .header-inner, .nav-btn, .main {
        padding: 10px;
    }
}
