/* Header Inner Styles */
.header-inner {
    margin-bottom: 40px;
}

/* Container Styles */
.container {
    margin: 0 auto;
}

/* Site Container Styles */
.site-container {
    width: 1000px;
    margin: auto;
}

.radios {
    display: inline-block;
    padding: 40px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    text-align: left;
}

.radio {
    margin-bottom: 10px;
}

.services {
    text-align: center;
    margin: 0 auto;
    height: 500px;
    background: gray;
}

#quote-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background: #97d700;
}

#quote-btn:hover {
    background: #c772ff;
}

.main-img {
    text-align: center;
    margin-bottom: 20px;
}

.welcome {
    background-color: #97d700;
    margin: auto;
    text-align: center;
    padding: 20px 0;
}

.offerings {
    color: #000000;
    text-align: center;
    margin-top: 20px;
}

.offer-div {
    background: #97d700;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* Navigation Button Styles */
.nav-btn {
    background: #97d700;
    display: flex;
    justify-content: space-around;
}

/* Quote Button Styles */
.quote-btn {
    background: #000000;
    color: #c164ff;
    text-shadow: 2px 2px 20px whitesmoke;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

.quote-btn:hover {
    border: 2px solid #c164ff;
}

/* Miscellaneous Styles */
.italic {
    font-style: italic;
    margin-top: 10px;
}

/* Header Styles */
.cname h2 {
    margin-bottom: 0;
}

.ias-logo {
    padding-top: 0; /* Add a valid numeric value here */
}

#ias-logo-img {
    display: flex;
    height: 130px;
    margin-top: 10px;
}

.call-us {
    display: flex;
}

.call-us h3 {
    margin-top: 5px;
}

/* Company Name Styles */
#call {
    height: 30px;
    margin-right: 8px;
    margin-top: 4px;
}

.company-name {
    background: #000000;
    color: #97d700;
    font-weight: 400;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}