@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root {
    --primaryColor: #6B9094;
    --secondaryColor: #946F6B;
    --backgroundColor: #1C1C1C;
    --textColor: #fff;
    --formBackground: #f2f2f2;
    --entryBackground: #ffffff;
    --borderColor: #ddd;
    --fontFamily: 'Nunito Sans', sans-serif;
}

/* General Styles */
body {
    font-family: var(--fontFamily);
    background-color: var(--backgroundColor);
    color: var(--textColor);
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: var(--primaryColor);
    padding: 20px;
    text-align: center;
    color: var(--textColor);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

footer {
    background-color: var(--primaryColor);
    padding: 20px;
    text-align: center;
    color: var(--textColor);
    position: bottom;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

footer ul {
    text-decoration: none;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    background-color: var(--secondaryColor);
    padding: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

nav a {
    color: var(--textColor);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--primaryColor);
}

main {
    background: #333;
    text-align: center;
}

.entry-container {
    background-color: var(--formBackground);
    padding: 10px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 350px;
    color: #333;
}

.entry {
    margin-bottom: 10px;
}

.entry label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.entry input,
.entry textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--entryBackground);
    box-sizing: border-box;
    color: #333;
}

.entry textarea {
    resize: vertical;
    height: 100px;
}

button {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--primaryColor);
    color: var(--textColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--secondaryColor);
}

button.clear-button {
    background-color: #f44336;
}

button.clear-button:hover {
    background-color: #e53935;
}

#entries-container {
    margin: 20px 0;
}

.data {
    background-color: var(--entryBackground);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px;
}

.data label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.data input[type="text"],
.data input[type="number"],
.data textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    background-color: var(--formBackground);
    color: #333;
}

button.save-button {
    margin-right: 10px;
}

button.delete-button {
    background-color: #f44336;
}

button.delete-button:hover {
    background-color: #e53935;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modal-content {
    background-color: var(--entryBackground);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#part-image {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 8px;
}

.product-item img {
    max-width: 200px;
}

header img {
    max-width: 380px;
    border-radius: 5px;
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
    text-align: center;
    margin: 0 auto;
}

textarea {
    width: 90%;
}

section {
    text-align: center;

}

.entry-container h2 {
    color: #333;
}

.entries-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    gap: 20px;
    justify-content: center;
}

#note-list li {
    cursor: pointer;
}

.note-item {
    width: auto;
    overflow: hidden;
}

@media (max-width: 768px) {

    .entry-container,
    .data {
        padding: 15px;
    }

    header h1 {
        font-size: 1.5em;
    }

    nav a {
        font-size: 14px;
    }
}