@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

:root {
    --primaryColor: #b38a73;
    --secondaryColor: #4c758c;
    --backgroundColor: rgb(109, 109, 109);
    --secondaryBackgroundColor: #f2f2f2;
    --textColor: #fff;
    --fontFamily: 'Nunito Sans', sans-serif;
    --headerHeight: 100px;
    --footerHeight: 50px;
}

html,
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: var(--fontFamily);
    overflow-x: hidden;
}

header {
    display: flex;
    background-color: var(--secondaryColor);
    height: var(--headerHeight);
    color: var(--textColor);
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-bar {
    position: relative;
    width: 100%;
    font-size: 40px;
    text-align: center;
    background: none;
    border: none;
    color: var(--textColor);
    text-shadow: -2px 2px 2px black;
}

nav {
    box-sizing: border-box;
    z-index: 2;
    background-color: var(--primaryColor);
    box-shadow: 0px 5px 50px 4px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px black;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links li {
    margin: 10px 0;
    list-style-type: none;
}

.nav-links a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
    display: block;
    text-align: center;
}

.nav-links a:hover {
    color: var(--secondaryColor);
    text-decoration: none;
}

body {
    font-family: var(--fontFamily);
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow-x: hidden;
}

main {
    display: flex;
    background-color: var(--secondaryBackgroundColor);
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - var(--footerHeight) - var(--headerHeight) - 40px);
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

footer {
    text-align: center;
    margin: 0 auto;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    height: var(--footerHeight);
    text-shadow: 1px 1px 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

input,
label,
select {
    padding: 5px;
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    padding: 5px;
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 98%;

}

table {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    width: 100%;
}

thead {
    display: flex;
    flex-direction: row;
}

tbody {
    display: flex;
    flex-direction: column;
}

tr {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}

th,
td {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    text-align: left;
}

th {
    min-width: none;
    overflow: hidden;
    width: 100%;
    font-size: 1.17em;
}

td,
td input {
    flex: 1;
    min-width: 0;
    border-width: 1px;
    border-style: inset;
    border-color: rgb(133, 133, 133);
    border-radius: 3px;
    align-items: center;
}

td input {
    border: none;
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}
button:hover {
    background: var(--primaryColor);
    color: var(--textColor);
}

.no-print {
    width: auto;
}

.notes {
    margin-top: 20px;
    height: 100px;
}

.total {
    display: flex;
    flex-wrap: wrap;
}

.total label {
    width: 200px;
}

.total input {
    max-width: 70px;
}

.data {
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    padding: 10px;
}

.entry {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    display: grid;
    justify-content: center;
}

.data button {
    width: 96%;
}

.copyright a {
    text-decoration: none;
    color: var(--textColor);
}

.padding {
    padding: 5px;
}

@media print {

    #page-break-before {
        page-break-before: auto;
    }

    body,
    header,
    footer,
    section,
    nav {
        box-shadow: none;
        padding: 0;
        margin: 0;
    }

    nav {
        color: black;
        height: auto;
        text-shadow: none;
    }

    button,
    nav,
    .no-print {
        display: none;
    }

    input,
    label {
        border: none;
    }

    #customer-address {
        border: none;
    }

    header {height: auto;}
}

#customer-address,
#customer-name {
    width: 98%;
    margin-bottom: 20px;
}

#entries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#invoice-number,
#invoice-date {
    margin-bottom: 20px;
}

#total, .final-total {
    font-weight: bold;
}


.filter-switch {
    display: flex;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
}