@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

:root {
    --primaryColor: #159cab;
    --secondaryColor: #b7635a;
    --backgroundColor: #1C1C1C;
    --secondaryBackgroundColor: #f2f2f2;
    --textColor: #fff;
    --fontFamily: 'Nunito Sans', sans-serif;
    --headerHeight: 100px;
    --footerHeight: 50px;
}

html, body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

html {
    background: var(--primaryColor);
    scroll-behavior: smooth;
    font-family: var(--fontFamily);
}

header {
    display: flex;
    background-color: var(--secondaryColor);
    height: var(--headerHeight);
    color: var(--textColor);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 50px 36px -28px inset;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links li {
    margin: 10px 0;
    list-style-type: none;
}

.nav-links a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
    display: block;
    text-align: center;
}

.nav-links a:hover {
    color: var(--secondaryColor);
    text-decoration: none;
}

.nav-container {
    position: sticky;
    box-sizing: border-box;
    top: 0;
    z-index: 1000;
    background-color: var(--primaryColor);
    box-shadow: 0px 5px 50px 4px rgba(0, 0, 0, 0.2);
    margin-top: -1px;
    text-shadow: 1px 1px 1px black;
}

footer {
    text-align: center;
    margin: 0 auto;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    height: var(--footerHeight);
    text-shadow: 1px 1px 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: var(--fontFamily);
    margin: 0;
    padding: 0;
    background-color: var(--secondaryBackgroundColor);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    margin: 0 auto;
    min-height: calc(100vh - var(--footerHeight) - var(--headerHeight) - 40px);
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input,
label {
    padding: 5px;
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.entry {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    display: grid;
    justify-content: center;
  }
  
  #entries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  input {
    width: auto;
  }

  .nav-bar {
    position: relative;
    width: 100%;
}

.name {
    font-size: 35px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: -2px 2px 2px black;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
    color: white;
    white-space: pre-wrap;
}

.logo {
    border: 2px solid;
    border-radius: 40px;
    height: 80px;
    margin-left: 30px;
}

.logo-box {
    width: 80px;
}


#invoice-number,
#invoice-date,
textarea {
    margin-bottom: 20px;
}

textarea {
        padding: 5px;
        margin: 3px;
        border: 1px solid #ccc;
        border-radius: 5px;
}

#customer-address,
#customer-name {
    width: 100%;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    width: 100%;
}

thead {
    display: flex;
    flex-direction: row;
}

tbody {
    display: flex;
    flex-direction: column;
}

tr {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}

th,
td {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    text-align: left;
}

th {
    min-width: none;
    overflow: hidden;
    width: 100%;
    font-size: 1.17em;
}

td,
td input {
    flex: 1;
    min-width: 0;
    border-width: 1px;
    border-style: inset;
    border-color: rgb(133, 133, 133);
    border-radius: 3px;
    align-items: center;
}

td input {
    border: none;
}

.no-print {
    width: auto;
}

.notes {
    margin-top: 20px;
    width: 100%;
    height: 100px;
}

.total input {
    max-width: 70px;
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}

.data {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    display: grid;
    justify-content: center;
    justify-items: start;
}

.data button {
    width: 100%;
}

@media print {
    
    #page-break-before {
        page-break-before: auto;
    }

    .no-print {
        display: none;
    }

    body, header, footer, section, .nav-container {
        box-shadow: none;
    }

    .name {
        color: black;
        text-shadow: none;
    }

    button {
        display: none;
    }

    input, label {
        border: none;
    }

    #customer-address {
        border: none;
    }

    .nav-container {
        display: none;
    }
}