@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Righteous&display=swap');

:root {
    --primaryColor: steelblue;
    --secondaryColor: lightsteelblue;
    --backgroundColor: lightsteelblue;
    --textColor: whitesmoke;
    --headerHeight: 110px;
    --footerHeight: 40px;
    --icoHeight: 25px;
}

html {
    background-color: var(--backgroundColor);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

header {
    height: var(--headerHeight);
    background: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    text-decoration: none;
    height: 30px;
    padding: 7px 0px;
    color: aliceblue;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    display: block;
    color: var(--secondaryBackgroundColor);
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
}

nav ul li a:hover {
    background: var(--secondaryBackgroundColor);
    color: var(--backgroundColor);
}

body {
    background: var(--primaryColor);
    font-weight: 700;
    margin: 0 auto;
    height: 100%;
    overflow-y: hidden;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

main {
    height: calc(100vh - var(--headerHeight) - var(--footerHeight));
    background: fixed;
    background: var(--backgroundColor);
    display: block;
    margin: 0px auto;
    text-align: center;
    overflow-y: auto;
}

section {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.container {
    width: auto;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--secondaryBackgroundColor);
    padding: 20px 40px;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 210px;
    margin: 0 auto;
    color: black;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

form>input,
textarea {
    background: lightgray;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px black solid;
    font-size: 20px;
    max-width: 600px;
    width: 60%;
    min-width: 250px;
    text-align: center;
}

.submitBtn {
    display: grid;
    color: black;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    width: 200px;
    margin: 10px auto;
}

.submitBtn:hover {
    cursor: pointer;
    color: var(--secondaryBackgroundColor);
    background: black;
}

footer {
    display: flex;
    height: var(--footerHeight);
    align-items: center;
    text-align: center;
    color: var(--textColor);
    background: var(--primaryColor);
    justify-content: center;
}

.footer-content,
.social-icons,
.contact-info {
    display: none;
}

p {
    margin: 0;
}

.ico a img {
    transition: 0.5s;
    width: 25px;
    height: 25px;
}

.ico img:hover {
    transform: translateY(5px);
}

h1 {
    font-size: 30px;
}

h2 .bold-text {
    font-size: 60px;
}

h3 {
    margin: 15px auto;
}

.home-img {
    width: 100%;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

iframe {
    width: 100%;
}

.more-dropdown {
    position: relative;
}

.more-dropdown .more-content {
    display: none;
    position: absolute;
    background-color: var(--primaryColor);
    padding: 10px;
    min-width: 200px;
}

.more-dropdown:hover .more-content {
    display: block;
}

.themes-dropdown {
    position: relative;
}

.themes-dropdown .theme-content {
    display: none;
    position: absolute;
    background-color: var(--primaryColor);
    padding: 10px;
    min-width: 200px;
    right: 0;
    top: 100%;
    z-index: 1;
}

.themes-dropdown:hover .theme-content {
    display: block;
    height: auto;
}

.theme-content ul {
    list-style: none;
    padding: 0;
    flex-direction: column;
}

.theme-content li {
    margin-bottom: 5px;
}

.theme-content label {
    cursor: pointer;
    margin-left: 5px;
}

button {
    margin-bottom: 5px;
}

@media only screen and (max-width: 780px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        margin: 6px 0;
        background: var(--backgroundColor);
    }

    nav {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background: #11101b;
        transition: 0.3s;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
    }

    nav.active {
        display: block;
        height: auto;
        margin: 0 auto;
        transition: 0.2s;
        background: var(--primaryColor);

    }

    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
        height: auto;
    }

    nav.active ul {
        opacity: 1;
    }

    nav ul li a {
        margin-bottom: 12px;
    }

    nav ul {
        padding: 0px;
    }

    .themes-dropdown .theme-content {
        position: relative;
    }

    .more-dropdown .more-content {
        position: relative;
    }
}

.header {
    position: relative;
  }
  
  .llogo {
    position: absolute;
    bottom: -9px;
    left: -50px;
    width: 50px;
  }