@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

:root {
  --primaryColor: lightgray;
  --secondaryColor: gray;
  --backgroundColor: #11101b;
  --secondaryBackgroundColor: white;
  --footerHeight: 55px;
  --headerHeight: 85px;
}

html {
  font-family: 'Raleway', sans-serif;
  background-color: var(--backgroundColor);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header {
  height: var(--headerHeight);
  background: var(--backgroundColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.hamburger {
  display: none;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  text-decoration: none;
  height: 30px;
  padding: 7px 0px;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
}

nav ul li a {
  display: block;
  color: var(--secondaryBackgroundColor);
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
}

nav ul li a:hover {
  background: var(--secondaryBackgroundColor);
  color: var(--backgroundColor);
}

body {
  background: var(--primaryColor);
  font-weight: 700;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  overflow-y: hidden;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

main {
  height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  background: fixed;
  background: var(--primaryColor);
  display: block;
  margin: 0px auto;
  text-align: center;
  overflow-y: auto;
}

section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.container {
  width: auto;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--secondaryBackgroundColor);
  padding: 20px 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 210px;
  margin: 0 auto;
  color: black;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

form>input,
textarea {
  background: lightgray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border: 2px black solid;
  font-size: 20px;
  max-width: 600px;
  width: 60%;
  min-width: 250px;
  text-align: center;
}

.submitBtn {
  display: grid;
  color: black;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  width: 200px;
  margin: 10px auto;
}

.submitBtn:hover {
  cursor: pointer;
  color: var(--secondaryBackgroundColor);
  background: black;
}

footer {
  display: flex;
  height: var(--footerHeight);
  border-top: dotted 1px black;
  border-bottom: dotted 1px black;
  color: black;
  background: var(--secondaryColor);
  text-shadow: 1px 1px 1px lightgrey;
  justify-content: center;
  align-items: center;
}

.footer-content,
.social-icons,
.contact-info {
  display: none;
}

footer p {
  text-align: center;
}

.ico_container {
  display: flex;
  justify-content: center;
}

.ico_container .ico {
  display: flex;
  height: 25px;
  align-items: center;
  margin: 2px;
}

.ico a:hover {
  transform: translateY(3px);
  transition: 0.3s;
}

h1 {
  font-size: 30px;
}

h2 .bold-text {
  font-size: 60px;
}

h3 {
  margin: 15px auto;
}

p {
  font-size: 20px;
}

.home-img {
  width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

iframe {
  width: 100%;
  min-height: 400px;
}

.hide-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.more-dropdown {
  position: relative;
}

.more-dropdown .more-content {
  visibility: hidden;
  position: absolute;
  background-color: var(--backgroundColor);
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 200px;
  right: 0;
  top: 100%;
  z-index: 1;
}

.more-dropdown:hover .more-content {
  visibility: visible;
}

.themes-dropdown {
  position: relative;
}

.themes-dropdown .theme-content {
  position: absolute;
  background-color: var(--secondaryBackgroundColor);
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 200px;
  right: 0;
  top: 100%;
  z-index: 1;
  margin: 0 auto;
}

.themes-dropdown:hover .theme-content {
  height: auto;
}

.theme-content ul {
  list-style: none;
  padding: 0;
  flex-direction: column;
  background: var(--secondaryBackgroundColor);
}

.theme-content li {
  margin-bottom: 5px;
}

.theme-content label {
  cursor: pointer;
  margin-left: 5px;
}

button {
  margin-bottom: 5px;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 790px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: var(--secondaryBackgroundColor);
    margin: 6px 0;
  }

  nav {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: var(--backgroundColor);
    transition: 0.3s;
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }

  nav.active {
    display: block;
    height: auto;
    margin: 0 auto;
    transition: 0.2s;
    width: 95%;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
    height: auto;
  }

  nav.active ul {
    opacity: 1;
  }

  nav ul li a {
    margin-bottom: 12px;
  }

  nav ul {
    padding: 0px;
  }

  .themes-dropdown {
    position: relative;
  }

  .themes-dropdown .theme-content {
    position: fixed;
  }

  .more-dropdown .more-content {
    position: relative;
  }
}
