:root {
  --primaryColor: #97D700;
  --secondaryColor: #aaeb6e;
  --backgroundColor: #80c047;
  --secondaryBackgroundColor: #8cc658;
  --textColor: #f5f5f5;
  /* dark mode */
  --borderColor: #111;
  --defaultPadding: 1rem;
  --headerHeight: 140px;
  --footerHeight: 140px
}

body {
  display: block;
  background: var(--primaryColor);
  font-weight: 700;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  transition: padding-top 0.3s ease;
}


header {
  height: var(--headerHeight);
  background: var(--primaryColor);
  color: var(--textColor);
  display: flex;
  justify-content: space-between;
  padding: 0 var(--defaultPadding);
  text-shadow: 1px 1px 1px lightgrey;
}

main {
  display: flex;
  flex-direction: column;
  background: fixed;
  background: lightgray;
  margin: 0px auto;
  text-align: center;
  overflow-y: hidden;
  scrollbar-gutter: stable both-edges;
}

section {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--defaultPadding);
}

footer {
  display: grid;
  height: var(--footerHeight);
  align-items: center;
  text-align: center;
  border-top: dotted 1px black;
  border-bottom: dotted 1px black;
  color: var(--textColor);
  background: var(--secondaryColor);
  text-shadow: 1px 1px 1px lightgrey;
  justify-content: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--backgroundColor);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: grid;
}

.dropdown-content a {
  background-color: var(--primaryColor);
}

.ico {
  height: 25px;
  display: flex;
  justify-content: center;
}

.home-img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.footer-container {
  display: flex;
  height: auto;
}

.more-dropdown {
  position: relative;
}

.more-dropdown .more-content {
  display: none;
  position: absolute;
  background-color: var(--backgroundColor);
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 200px;
}

.more-dropdown:hover .more-content {
  display: block;
}

.themes-dropdown {
  position: relative;
}

.themes-dropdown .theme-content {
  display: none;
  position: absolute;
  background-color: var(--secondaryBackgroundColor);
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 200px;
  right: 0;
  top: 100%;
  z-index: 1;
}

.themes-dropdown:hover .theme-content {
  display: block;
  height: 150px;
}

.theme-content ul {
  list-style: none;
  padding: 0;
  flex-direction: column;
  background: var(--secondaryBackgroundColor);
}

.theme-content li {
  margin-bottom: 5px;
}

.theme-content label {
  cursor: pointer;
  margin-left: 5px;
}