@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --headerHeight: 200px;
    --footerHeight: 122px;
    --primaryColor: #333;
    --secondaryColor: #ff6600;
    --backgroundColor: #f2f2f2;
    --secondaryBackgroundColor: #333;
    --textColor: #fff;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header, footer {
    background-color: var(--secondaryBackgroundColor);
    color: var(--textColor);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--footerHeight);
    padding: 10px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links ul {
    margin: 0;
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--secondaryColor);
}

main {
    min-height: calc(100vh - var(--headerHeight) - var(--footerHeight) - 60px);
    overflow-y: auto;
    background-color: var(--backgroundColor);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--headerHeight);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav {
    background-color: var(--primaryColor);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

nav a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin: 0 10px;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--secondaryColor);
}

section {
    padding: 20px 0;
    text-align: center;
}

.hero {
    background-color: var(--primaryColor);
    color: var(--textColor);
    padding: 40px 20px;
}

.featured-products,
.mining-services,
.testimonials {
    background-color: var(--backgroundColor);
}

.testimonials {
    background-color: var(--textColor);
    color: var(--primaryColor);
}

blockquote {
    border-left: 4px solid var(--primaryColor);
    padding-left: 20px;
    margin: 20px auto;
    font-style: italic;
    max-width: 600px;
}

blockquote cite {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-style: normal;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-item {
    background-color: var(--textColor);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 280px;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--footerHeight);
}

footer p {
    margin: 0;
}

.footer-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--secondaryColor);
}

button, .cta-button {
    background-color: var(--secondaryColor);
    color: var(--textColor);
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover, .cta-button:hover {
    background-color: #d25400;
}

.logo, .footer-logo img {
    border-radius: 10px;
    margin: 10px;
}

.logo {
    height: 120px;
}

.footer-logo img {
    max-width: 100px;
    height: auto;
}

.entries-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    gap: 20px;
    justify-content: center;
    max-width: 300px;
    background-color: var(--formBackground);
    padding: 10px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 350px;
    color: #333;
}

.entry-container {
    background-color: var(--formBackground);
    padding: 10px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 350px;
    color: #333;
}

.entry label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.entry input,
.entry textarea, .entries-container input {
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--entryBackground);
    box-sizing: border-box;
    color: #333;
}

.entry textarea {
    resize: vertical;
    height: 100px;
}

#entries-container {
    margin: 20px 0;
}

.data {
    display: contents;
    background-color: var(--entryBackground);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px;
}

.links-container {
    text-align: center;
}

.links-container ul {
    padding: 0px;
}

#linksContainer button {
    margin: 2px;
}

#saveLinkButton {
    margin: 0 auto;
}

#linksContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#linksContainer li {
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#linksContainer a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}