@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --headerHeight: 200px;
    --footerHeight: 100px;
    --primaryColor: #333;
    --secondaryColor: #ff6600;
    --backgroundColor: #f2f2f2;
    --secondaryBackgroundColor: #333;
    --textColor: #fff;
    --entryBackground: #fff;
    --formBackground: #e0e0e0;
    --altBackgroundColor: #ddd;
    --altTextColor: #000;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header,
footer {
    background-color: var(--secondaryBackgroundColor);
    color: var(--textColor);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.logo {
    border-radius: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--headerHeight);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--footerHeight);
    padding: 10px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--secondaryColor);
}

nav {
    background-color: var(--primaryColor);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
}

nav a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--secondaryColor);
}

main {
    min-height: calc(100vh - var(--headerHeight) - var(--footerHeight) - 140px);
    background-color: var(--backgroundColor);
    padding: 20px 0px;
    margin: 20px 0px;
}

section {
    padding: 20px 0;
    text-align: center;
}

.our-services {
    margin: 15px;
}

.hero,
.hosting-hero,
.support-hero {
    background-color: var(--primaryColor);
    color: var(--textColor);
    padding: 40px 20px;
}

.service-grid,
.support-grid,
.why-choose-us-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    padding: 15px;
}

.service-item,
.support-item,
.feature-box {
    background-color: var(--textColor);
    color: var(--primaryColor);
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    text-align: left;
}

.service-item h3,
.feature-box h3,
.faq-item h3 {
    margin-top: 0;
}

.why-choose-us ul {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;
}

.why-choose-us li {
    margin-bottom: 15px;
}

button,
.cta-button,
.service-button {
    background-color: var(--secondaryColor);
    color: var(--textColor);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover,
.cta-button:hover,
.service-button:hover {
    background-color: #d25400;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    display: grid;
    gap: 20px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    width: fit-content;
    padding: 10px 20px;
    margin-top: 10px;
    margin: 0 auto;
}

.hosting-policy,
.hosting-rates,
.support-services,
.faq,
.contact-us {
    padding: 40px 20px;
    text-align: center;
}

.hosting-rates table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.hosting-rates th,
.hosting-rates td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: var(--textColor);
    color: var(--primaryColor);
}

.hosting-rates th {
    background-color: var(--primaryColor);
    color: var(--textColor);
}

section:nth-child(even) {
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
}

section:nth-child(odd) {
    background-color: var(--altBackgroundColor);
    color: var(--altTextColor);
}

.task-form, .task-list-section, .sop-form, .sop-list-section {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0 auto;
    max-width: 800px;
}

.links-container {
    text-align: center;
}

.links-container ul {
    list-style-type: none;
    padding: 0px;
}

.links-container button {
    margin: 2px;
    padding: 5px 8px;
}

.links-container li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 70px);
    display: inline-block;
    vertical-align: middle;
}

.task-item {
    cursor: pointer;
}

.entry-container h2 {
    color: #333;
}

.entries-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    gap: 20px;
    justify-content: center;
}

#entries-container {
    margin: 20px 0;
}


.entry-container {
    background-color: var(--formBackground);
    padding: 10px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 350px;
    color: #333;
}

.entry {
    margin-bottom: 10px;
}

.entry label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.entry input,
.entry textarea {
    width: 90%;
    padding: 5px;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--entryBackground);
    box-sizing: border-box;
    color: #333;
}

.entry textarea {
    resize: vertical;
    height: 100px;
}

.data {
    background-color: var(--entryBackground);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px;
}

.data label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.data input[type="text"],
.data input[type="number"],
.data textarea {
    width: 90%;
    padding: 5px;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    background-color: var(--formBackground);
    color: #333;
}

#toggleSidebar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 30;
}

#sidebar {
    height: 0;
    max-width: 300px;
    position: fixed;
    right: 0;
    bottom: -40px;
    background-color: #f9f9f9;
    overflow-y: hidden;
    padding: 20px;
    z-index: 20;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.5s ease-in-out, height 0.5s ease-in-out;
    transform: translateX(100%);
}

#sidebar.hidden {
    transform: translateX(100%);
    height: 0;
}

#sidebar:not(.hidden) {
    transform: translateX(0);
    height: 100vh;
}

iframe {
    height: 100vh;
    border: none;
}

#updateLinkButton {
    margin: 0 auto;
}

.entry-container img,
.entries-container img {
    text-align: center;
}
#image-preview, .clickable-image {
    margin: 0 auto;
    cursor: pointer;
}

.search {
    max-width: 800px;
    margin: 0 auto;
}

.register-container, .login-container {
    max-width: 230px;
    margin: 0 auto;
}